In [1]:
! pip install --upgrade pip

Requirement already satisfied: pip in c:\users\pc user\appdata\local\programs\python\python310\lib\site-packages (24.2)

In [2]:
! pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\pc user\appdata\local\programs\python\python310\lib\site-packages (2.2.9)

In [3]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pc user\appdata\local\programs\python\python310\lib\site-packages (9.1.0)

In [4]:
! pip install mysql-connector-python-rf

Requirement already satisfied: mysql-connector-python-rf in c:\users\pc user\appdata\local\programs\python\python310\lib\site-packages (2.2.2)

In [6]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [8]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pc user\appdata\local\programs\python\python310\lib\site-packages (9.1.0)

In [10]:
import mysql.connector

In [5]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pc user\appdata\local\programs\python\python310\lib\site-packages (9.1.0)

In [2]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",  
    database="cookingRecipeApp"
)

In [3]:
cursor = db.cursor()

In [8]:
cursor.execute("""
   CREATE TABLE IF NOT EXIST `users`(
   ` user_id` int primary key auto_increment,
  ` first_name` varchar(100)not null
   `last_name` varchar (100)not null    
   `other_name` varchar(100)not null
   `email varchar`(100) unique not null
   `password varchar`(100)not null
   `gender enum`("male or female")
   `phone number` varchar`(100)not null
   `address varchar`(100)not null
    `city varchar`(100)not null
    `state varchar`(100)not null
    `country varchar`(100)not null
    `profile_photo` varchar(100) default null
    `role enum`("admin,teacher,student")not null default'user',
    `status enum`('active','inactive')not null default'active',
    `create_at` datetime not null default current_timestamp,
    `update_at` datetime not null default current_timestamp,
    primary ke("id")
   )engine=InnoDB default charset=utf8mb4
""")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'EXIST `users`(
   ` user_id` int primary key auto_increment,
  ` first_name` var' at line 1